doctype html
html
  head
    title ADA - Ayushi's Dance Academy
    style 
      include ../static/style.css
  body
    nav#navbar
     ul
       div#logo
        img(src="../static/logo.png")
        |ADA
       li #[a(href="/") Home]
       li #[a(href="/") About]
       li #[a(href="/") Services]
       li #[a(href="/") Class info]
       li #[a(href="/") Contact Us]

    section#introsection
       div Welcome to Ayushi's Dance Academy
       div.small Dancers don't need wings to fly

    section#missionSection
       h2 Our Expertise
       div.card
        h3 JAZZ
        div.card-box
          div.card-img
            img(src="../static/jazz.jpg")
          p Jazz dancing is a form that showcases a dancer's originality. All jazz dancers interpret and execute moves and steps in their own way. This type of dancing consists of fancy footwork, big leaps, and quick turns. Learn this beautiful dance form from our expert teachers and mentors only at ADA.  
       div.card
        h3 CONTEMPORARY
        div.card-box
          div.card-img
            img(src="../static/contemporary.jpeg")
          p Contemporary dance is a style of expressive dance that combines elements of several dance genres including modern, jazz, lyrical and classical ballet. Contemporary dancers strive to connect the mind and the body through fluid dance movements.Learn this beautiful dance form from our expert mentors and teachers only at ADA.
       div.card
        h3 CLASSICAL
        div.card-box
          div.card-img
            img(src="../static/classical.jpeg")
          p  When it comes to dance, India has traditional, classical, folk and tribal dance styles and all are simply amazing. All the incredible classical dances originated in the country during the ancient times and still has its essence in 21st century.Learn this beautiful dance from our expert teachers and only at ADA.

    section#sponsorsection
       h3 Our Sponsors
       div#sponsors
          img(src='/static/sponsor1.png', alt="Sponsor Image" , class="spImage")
          img(src='/static/sponsor2.jpeg', alt="Sponsor Image" , class="spImage")
          img(src='/static/sponsor3.jpg', alt="Sponsor Image" , class="spImage")
          img(src='/static/sponsor4.jpeg', alt="Sponsor Image" , class="spImage")

    footer#footer
        | copyright @ 2021 AyushiDanceAcademy.com | All rights reserved

    script
      include ../static/index.js